{:hooks
 {:analyze-call
  {xyz.madland.integrant.tools.alpha/with-system
   hooks.madland.integrant.tools.alpha/with-system

   xyz.madland.integrant.tools.alpha/defs
   hooks.madland.integrant.tools.alpha/defs}}

 :lint-as {xyz.madland.integrant.tools.alpha/let-derived clojure.core/let}}
