{:paths ["tasks"]
 :deps {clj-kondo/clj-kondo {:mvn/version "2021.04.23"}}
 :tasks
 {test {:doc "Run the tests, passes command line args to kaocha.runner"
        :task (apply clojure "-Srepro -M:test -m kaocha.runner" *command-line-args*)}

  clean (shell "rm -f integrant.tools.jar")

  build {:depends [clean]
         :doc "Build jar"
         :task (clojure "-X:jar")}

  deploy {:requires ([deploy])
          :depends [test build]
          :doc
          "
Runs the tests, updates version, builds jar, deploys to clojars
then commits and pushes the version change.

Takes one argument which is the new version.
"
          :task (deploy/deploy :deploy-args "-X:deploy"
                               :token (slurp "deploy_token")
                               :version (first *command-line-args*))}}}
