{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        integrant/integrant {:mvn/version "0.8.0"}}
 :aliases {:test
           {:extra-paths ["test" "target" "classes"]
            :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-529"}
                         lispyclouds/clj-docker-client {:mvn/version "1.0.1"}
                         org.clojure/tools.deps.alpha {:mvn/version "0.9.847"}
                         uberdeps/uberdeps {:mvn/version "1.0.3"}
                         me.raynes/conch {:mvn/version "0.8.0"}}}

           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "integrant.tools.jar"
                             :sync-pom true
                             :group-id "xyz.madland"
                             :artifact-id "integrant.tools"
                             :version "0.0.11"}}

           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :artifact "integrant.tools.jar"}}}}
