{:hooks
 {:analyze-call
  {xyz.madland.integrant.tools.alpha/with-system hooks.ig-tools/with-system
   xyz.madland.integrant.tools.alpha/defs hooks.ig-tools/defs}}

 :linters
 {:not-empty? {:level :off}}}
